################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileMetaData/.vs/FileMetaData/v15/.suo
/FileMetaData/FileMetaData.csproj.user
/.vs/POC/v15/Server/sqlite3
/FileInfoUpdateDB/bin
/FileInfoUpdateDB/obj
/FileMetaData/.vs/POC/v15
/FileMetaData/bin/Debug
/FileMetaData/obj/Debug
/.vs/POC/v15
/FileZipUnzip/bin/Debug
/FileZipUnzip/obj/Debug
